# 8. Frontend Deployment
apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-production
  namespace: fastcontract-dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: davidchalan/frontend-fastcontract:v1.2
          ports:
            - containerPort: 3000
          env:
            - name: NEXT_PUBLIC_API_URL
              value: http://backend.davidchalan.es/api/v1
